@import 'nib'
@import 'requires/*'
abs = absolute

html
	-webkit-font-smoothing: antialiased
	height 100% //1366px
	width 100% //1080px

.fixed
	position fixed
	margin-left 1.2%
	fontSetUpper()

.midnightHeader.first
	background none
	color white
	text-align center
	h
		color #2c3e50

.midnightHeader.second
	background none
	color black
	text-align center
	h
		color black

.content
	width 100%
	height 100%
	color white
	text-align center
	fontSetUpper()
	p.title
		display inline-block
		width 10%
		color white
		text-align center
		fontSetUpper()
