@import 'nib'
@import 'requires/*'
abs = absolute

html
	height 100% //1366px
	width 100% //1080px

.fixed
	position fixed
	margin-left 1.2%
	fontSetUpper()

.agreement
	display none
	fontSetGothamLight()
	h3
		text-align center
	.agreeCheck
		height 10%
		text-align center
		p
			display inline-block
		.fLink
			transition 0.8s
			pointer-events none
			color #C8C8C8
			fontSetUpper()
			font-size 1.6em
			display inherit
.midnightHeader
	height 100%

.content
	width 100%
	height 100%
	color white
	text-align center
	fontSetUpper()
	p.title
		display inline-block
		width 10%
		color white
		text-align center
		fontSetUpper()