@import 'nib'
@import 'requires/*'
abs = absolute


.main .title
	width 100%
	margin 0 auto
	padding-top 7%
	fontSetGothamLight()
	font-size 0.38em
	color #333333
	letter-spacing 0.07em
	word-spacing 0.1em
	line-height 1.5em
	margin-bottom 0%

.main .downloadLink
	width 50%
	margin 0 auto
	#link
		font-size 0.65em !important
	h3
		fontSetGothamLight()
		word-spacing -2px
		margin-top 0px
		margin-bottom 1%
		font-size 0.3em !important
		color #0078A0

.main .content
	.table
		width 55%
		height 40%
		margin 0 auto
		fontSetGothamLight()
		thead th
			height 1.7em
			font-size 3.2em
			text-align center
			fontSetFiraSansMedium()
			font-weight 500
		thead .prosLabel
			color #228B22
		thead .consLabel
			color #DC143C
		tbody td
			width 50%
			text-align center
			line-height 1.3em
			font-weight 400
		tbody .pros
			font-size 2.3vh
			color #228B22
		tbody .cons
			font-size 2.3vh
			color #DC143C
.main .github
	width 20%
	z-index 5000 !important
	position abs
	bottom 2%
	right 0%
	.git
		image-rendering crisp-edges !important
	.findMe
		fontSetGothamLight()
		font-size 0.4em
		line-height 0.9em
		color #333333
		margin-bottom 4%

.main .credits
	position abs
	bottom 2%
	left 2%
	width 23%
	color #333333
	z-index 5000
	margin-bottom 0%
	.text
		fontSetGothamLight()
		font-weight 100 !important
		font-size 0.3em
		line-height 130%
		text-align left
	.icon-bar
		background-color rgba(255, 0, 0, 0) !important
		a
			text-align left
			padding 0 !important
			padding-top 2% !important
			i
				font-size 2vw
				color #008cba
		a:hover
			background-color rgba(255, 0, 0, 0) !important

.main .logo
	image-rendering crisp-edges !important
	z-index 5000 !important
	position abs
	top 2%
	left 2%
	width 20%

.midnightHeader.default
	.left
		float right
		padding-left 26.77%
		width 50%
		background #FFFFFF
		color #333333
	.right
		width 50%
		background #FFFFFF
		color #333333

.main #first
	position abs
	width 100%
	height 100%
	z-index -1 !important
	opacity 1
	background-color #FFFFFF
	background-repeat no-repeat
	background-size 100% 100%