section.main
	.background#second
				.background#first
	.page_container
		.content
			h3.title This program made by Penn Stater for Penn Staters.
				br
				| It allows you to register classes automatically using your email.
			.downloadLink
				a#link Download
				h3.subdown Beta version 1.0
			table.table
				thead
					tr
						th.prosLabel Pros
						th.consLabel Cons
				tbody
					tr
						td.pros Mac/Windows Support
						td.cons No SMS Notifications
					tr
						td.pros No courses limit
						td.cons None
					tr
						td.pros Course drop function
						td.cons None
					tr
						td.pros No use of Penn State servers
						td.cons None
					tr
						td.pros More stable
						td.cons None
					tr
						td.pros Real time log messages
						td.cons None
			.logo
				a(href="http://psu.edu")
					img.pennLogo(src="./img/pennStateLogo.png")
			.credits
				.text Designed and Created 
					br
					|&emsp;&emsp;&emsp;&emsp;&emsp; by 
					a(href="http://yeralin.net") Daniyar&nbsp;Yeralin
				.icon-bar.four-up
					a.item(href="https://www.facebook.com/Yeralin.Daniyar")
						i.fi-social-facebook
					a.item(href="https://www.linkedin.com/profile/view?id=364881211")
						i.fi-social-linkedin
					a.item(href="https://github.com/yeralin")
						i.fi-social-github
					a.item(href="mailto:daniyar.yeralin@gmail.com")
						i.fi-mail
			.github
				.findMe Find source code on
				a(href="https://github.com/yeralin/pennRegistrator")
					img.git(src="./img/github.png")