section.title(data-midnight="first")
	.background#second
				.background#first
	.page_container
		.content
				.leftContent
					p.instrLabel Instructions
					h3 Do not worry video tutorial is below!
					ol
						li Register new numerical email on 
							a(href="http://mail.com") mail.com
							br
							|&emsp;&emsp;&emsp;&emsp;(ex. 8141112345@mail.com)
						li Change "Text Message Address" on 
							a(http://elion.psu.edu) eLion
							br
							|&emsp;&emsp;&emsp;&emsp;in Notification Preferences using this email
						li Check which radio button (semester) 
							br
							|&emsp;&emsp;&emsp;&emsp;is needed for registration
						li Enter all needed information into the program's 
							br
							|&emsp;&emsp;&emsp;&emsp; required fields
					p.addLabel Additional instructions about "Drop Option"
					ul.no-bullet
						li If you need to drop a class, and register conflict one
						li You simply check "Drop Option" next to "Semester Drop Box"
				.rightContent
					p.howLabel How does it work?
					ul.disc
						li It DOES NOT OVERLOAD PENN STATE SERVERS
						li It simply checks provided email 
							br
							|&emsp;&emsp;&emsp;&emsp;for notifications every 10 Seconds
						li It doesn't store provided information ANYWHERE
						li It uses simple, non-visible JS browser 
							br
							|&emsp;&emsp;&emsp;&emsp; so you won't actually see how it register classes