section.title(data-midnight="first")
	.background#second
				.background#first
	.page_container
		.content
				.leftContent This program is created from Penn Stater for Penn Staters
					p.macLabel Mac View
					.macView
				.rightContent This program is created from Penn Stater for Penn Staters
					p.windowsLabel Windows View
					.windowsView