section.videoPage(data-midnight="second")
	.background#second
				.background#first
	.page_container
		.content
			h1.titleLabel Video Tutorial
			<iframe class="youtube" width="60%" height="70%" src="//www.youtube.com/embed/-EJZAseoqhI" frameborder="0" allowfullscreen></iframe>